* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

/* navbar start  */

.navbar_BBC {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #0031AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.navbar_BBC_card {
    display: flex;
    align-items: center;
    gap: 24px;
    color: white;
}

.navbar_BBC_card_text {
    width: 166px;
    height: 33px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.navbar_fixed {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

.navbar_fixed_card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo_card {
    display: flex;
}

.logo_text {
    transform: translateY(26px);
}

.navbar_fixed_lists {
    display: flex;
    gap: 30px;
}

.navbar_fixed_link {
    color: white;
    transition: 0.5s;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.navbar_fixed_link:hover {
    color: #ED8E00;
}



/* navbar end */


/* header start */

.header {
    width: 100%;
    position: relative;
}

.header_img {
    width: 100%;
}

.header_pardas{
    width: 100%;
    height: 100%;
    background-color: #090F19c4;
    position: absolute;
    top: 0;
}
.header_parda {
    position: absolute;
    top: 180px;
}

.header_title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}

.header_text {
    width: 570px;
    color: #C8C8C8;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 30px 0 50px 0;
}

.header_btn {
    color: #000;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    width: 166px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #000;
    background: #F18128;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center ;

}

/* header end */

/* main start */
.main{
    width: 100%;
}
.main_films{
    width: 100%;
    background-color: #040D1F;
}
.main_films_title{
    font-size: 36px;
    font-weight: 400;
    color: #F18128;
}
.main_films_title::after{
    content: "";
    display: block;
    width: 73px;
    height: 2px;
    background-color: #F18128;
    margin-bottom: 54px;

}

.main_films_cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main_films_card{
    width: 255px;
    height: 367px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: 1s;
}
.main_films_card:hover .main_films_card_time{
    transition: 1s;
    display: none;
}
.main_films_img{
    width: 100%;
    height: 100%;
}
.main_films_parda{
    padding: 0 15px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}
.fa-play{
    color: white;
}
.main_films_card_time{
    width: 100px;
    height: 25px;
    border: 1px solid white ;
    border-radius: 9px;
    display: grid;
    place-items: center;
    color: white;
    margin: 12px 0 34px;
    transition: 1s;
}

.main_films_card_title{
    font-size: 22px;
    font-weight: 400;
    color: white;
    margin-bottom: 12px;
}
.main_films_card_text{
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 21px;
}

/* black window start  */
.black_window{
    width: 100%;
    height: 100%;
}
.black_window_cards{
    display: flex;
    justify-content: space-between;
}
.black_window_card_texts{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.black_window_card_img{
    width: 445px;
    height: 100px;
}
.black_window_card_text{
    width: 558px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
}

.black_window_card_btn{
    width: 166px;
    height: 46px;
    border-radius: 4px;
    background-color: #F18128;
    color: white;
}
.black_window_card_videos{
    width: 50%;
    height: 500px;
}
.black_window_card_video{
    width: 100%;
    height: 100%;
}


/* collection  */
.collections{
    width: 100%;
    background-color: #040D1F;
}
.collections_title{
    font-size: 36px;
    font-weight: 400;
    color: #F18128;
    margin-top: 60px;
}
.collections_title::after{
    content: "";
    width: 165px;
    height: 2px;
    background-color: #F18128;
    display: block;
    margin-bottom: 50px;
}
.collections_cards{
    display: flex;
    justify-content: space-between;
}
.collections_card{
    width: 350px;
    height: 194px;
    position: relative;
}
.collections_card_img{
    width: 100%;
    height: 100%;
}
.collections_card_parda{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(-90deg, #070F19, #317209);
    opacity: 0.8;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.collections_card_parda_text{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
/* Series */
.Series{
    width: 100%;
    background-color: #040D1F;
}
.Series_title{
    padding-top: 61px;
    font-size: 36px;
    font-weight: 400;
    color: #F18128;
}
.Series_title::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #F18128;
    margin: 10px 0 55px;
}
.Series_cards{
    width: 100%;
    position: relative;
}
.Series_cards_img{
    width: 100%;
}
.Series_card_parda{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 28px;
    background: linear-gradient
    (90deg,#232323,#010101);
    opacity: 0.7;
}
.Series_card_parda_title{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.Series_card_parda_text{
    width: 1069px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    text-align: center;
}
.Series_card_parda_btn{
    width: 160px;
    height: 46px;
    background-color: #F18128;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: white;

}
.seriallar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.seriallar_boxs{
    width: 540px;
    height: 404px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seriallar_box_img{
    width: 100%;
    height: 100%;
}
.seriallar_box_parda{
    position: absolute;
    top: 0;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    gap: 21px;
}
.seriallar_box_parda_text{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.seriallar_boxs_cards{
    display: flex;
    justify-content: space-between;
}
.seriallar_boxs_card{
    width: 255px;
    height: 183px;
    position: relative;
}
.seriallar_boxs_card_img{
    width: 100%;
    height: 100%;
}
.seriallar_boxs_card_parda{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.7;
}
.seriallar_boxs_card_parda_text{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
/* main end */
